<section class="content--container">
  <div class="grid three--column--grid">
    <article class="icon--text flex flex--column flex--center-hor">
      <div class="icon--text-icon">
        <img src="/static/images/icons/date.svg" class="icon--main">
        <img src="/static/images/icons/Location.svg" class="icon--bg">
      </div>
      <h3>Header</h3>
      <p>You can learn a lot about the latest technologies from the presentations of expert speakers.</p>
    </article>
    <article class="icon--text flex flex--column flex--center-hor">
      <h3>Header</h3>
      <p>Everybody's like you! You can easily meet many designers and developers interested in web and mobile technologies.</p>
    </article>
    <article class="icon--text flex flex--column flex--center-hor">
      <h3>Header</h3>
      <p>PHP, NodeJS, Python, Ruby, React, Angular, Sketch, Figma ... There are sweet discussions about them in every corner.</p>
    </article>
  </div>
</section>