/* ==============Non critical CSS =============== */

/* Home page */

/* Grid articles */

.icon--text {
  padding-block-start: 3rem;
  padding-inline-start: 2rem;
  padding-inline-end: 1.5rem;
}

.icon--text-icon {
  justify-items: center;
  align-items: center;
  display: grid;

  svg {
    width: 80px;
    height: 80px;
  }

}

.icon--main, .icon--bg {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}