// Type styles

p {
  font-size: 1.125em;
}

.textual--content {

  p {
    &:first-of-type {
      font-size: 1.75em;
      line-height: 1.3;
    }
  }

  a {
    color: var(--accent);
    transition: all 250ms ease-in;
  }

  h2, h3, h4 {
    color: var(--accent);
  }

}

.page--title {
  font-size: 3.5em;
  line-height: 1.3;

  &::before {
    content: "// ";
  }

}

.section--header {
  font-size: 3em;
}