@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
      url('../static/fonts/Quicksand-Regular.woff2') format('woff2'),
      url('../static/fonts/Quicksand-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand Bold'), local('Quicksand-Bold'),
      url('../static/fonts/Quicksand-Bold.woff2') format('woff2'),
      url('../static/fonts/Quicksand-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
	font-display: swap;
}

:root {
	--blue:#00384c;
	--base: #3e4a6d;
	--accent: #d60057;
	--yellow: #e6d300;
	--background: #008ecc;
	--alt-font-family: "Quicksand", "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--base-font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	color: var(--base);
	font-family: var(--base-font-family);
	line-height: 1.7;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.content--container {
	margin: 2rem auto 0;
	max-width: calc(1040px + 4rem);
	width: 100%;
	padding: 0 2rem;
}

img {
	height: auto;
	max-width: 100%;
}

p,
pre,
code {
	line-height: 1.5;
}

a {
	color: var(--blue);
}

a:hover {
	color: var(--accent);
}

a[href]:not(:hover) {
	text-decoration: none;
}

h1, h2, h3 {
	font-family: var(--alt-font-family);
}

header,
footer {
	padding: 1em;
}

/* main {
	padding: 0 2em;
} */

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header and Logo */

header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
}

header > h1 {
	margin: .67em 0;
}

.home-link {
	display: flex;
}

.svg-logo {
	height: 45px;
	width: 250px;
}

/* Header Nav */
.main--nav ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	list-style: none;
	font-family: var(--alt-font-family);
}

.main--nav ul:first-child {
	margin-left: 0;
}

.main--nav li {
	display: flex;
	justify-content: center;
	margin: 0 1rem;
}

.main--nav a {
	font-size: 0.875em;
	font-weight: 700;
	letter-spacing: 0.04em;
	text-decoration: none;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
}

.main--nav a::after {
  background-color: var(--accent);
  content: "";
  display: block;
  height: 3px;
  transform: scale(0);
  transition: transform 250ms ease-in-out;
}

.main--nav a[data-current="current item"], .main--nav a:hover {
  color: var(--accent);
}


.main--nav a[data-current="current item"]::after, .main--nav a:hover::after {
  display: block;
  transform: scale(1);
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: white;
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

/* Utilities */

.is-hidden {
	display: none;
}

.is-visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/* layout */
.grid {
	display: grid;
}

.three--column--grid {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
	grid-gap: 2rem;
}

.flex {
	display: flex;
}

.flex--center-all {
	align-items: center;
  justify-content: center;
}

.flex--center-hor {
	align-items: center;
	text-align: center;
}

.flex--center-vert {
	justify-content: center;
}


.flex--column {
	flex-direction: column;
}

.divider {
	margin: 4rem 0;
	width: 100%;
}

.textual--content {
	padding-block-start: 6vh;
	max-width: 75ch;
}

/* Hero stuff */


.hero--home {
	padding: 4rem 0 6rem;
}

.main--title {
  font-size: 4rem;
	line-height: 1.2;
	margin-block-start: 1rem;
	margin-block-end: 0;
	text-align: center;
}

.main--title-date {
	color: var(--accent);
	display: block;
	font-size: 3rem;
	line-height: 1;
	margin-block-start: 0;
}

.main--title-date::before {
	color: var(--yellow);
	content: "."
}

.place--date > span, .org--links > a {
	margin-inline-start: 1rem;
}

/* To be removed */

/* .coming-soon {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 80vh;
} */