<section class="content--container">
  <h2 class="section--header align--center">Speakers</h2>
  <div class="grid three--column--grid">
  {% set speakerlist = collections.speaker %}
  {% include "components/speakerlist.njk" %}
  </div>
</section>