<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<h1>
				<a href="{{ '/' | url }}" class="home-link">
					{% include "components/logo.njk" %}
					<span class="is-visually-hidden">{{ site.name }}</span>
				</a>
			</h1>
			{% include "components/nav.njk" %}
			<a href="{{header.buttonurl}}" class="btn--primary">
				{{ header.buttontext}}
			</a>
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

		<script>
  	if ("serviceWorker" in navigator) {
    	navigator.serviceWorker
      	.register("/service-worker.js")
      	.then(function() {
        	console.log("ServiceWorker has been registered!");
      	})
      	.catch(console.error);
  	}
		</script>

	</body>	

</html>
