---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---

<section class="content--container">
  <h1 class="page--title">{{ title }}</h1>
    {{ layoutContent | safe }}
    <div class="posts--container">
      {% set postslist = collections.posts %}
      {% include "components/postslist.njk" %}
    </div>
</section>
