---
layout: layouts/base.njk
section: contact
---

<section class="content--container">
  <h1 class="page--title">{{ title }}</h1>
  <article class="textual--content">

    {{ layoutContent | safe }}  

    {% include "components/form.njk" %}
  </article>
</section>
