---
layout: layouts/base.njk
section: home
---

{% include "components/home-components/hero.njk" %}

{% include "components/divider.njk" %}

{% include "components/grids/three-column-grid.njk" %}

{% include "components/divider.njk" %}

{% include "components/speakers.njk" %}

{# {% set postslist = collections.posts %}
{% include "components/postslist.njk" %} #}
