---
layout: layouts/base.njk
section: home
---

{% include "components/home-components/hero.njk" %}

{# {% set postslist = collections.speaker %}
{% include "components/postslist.njk" %}


{% set postslist = collections.posts %}
{% include "components/postslist.njk" %} #}
