---
layout: layouts/base.njk
section: page
---
<section class="content--container">
  <h1 class="page--title">{{ title }}</h1>
  <article class="textual--content">
    {{ layoutContent | safe }}
  </article>
</section>
