---
layout: layouts/base.njk
section: schedule
permalink: /schedule/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set postslist = collections.schedule %}
{% include "components/postslist.njk" %}
