---
layout: layouts/base.njk
section: speaker
permalink: /speakers/index.html
---

<section class="content--container">
  <h1 class="page--title">{{ title }}</h1>

  <article class="textual--content">
    {{ layoutContent | safe }}
  </article>

  <div class="grid three--column--grid">
  {% set speakerlist = collections.speaker %}
  {% include "components/speakerlist.njk" %}
  </div>
</section>
